/*fonts here*/
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Inconsolata', monospace;
/*fonts here*/
body{
	margin:0;
	padding:0;
	font-family: 'playfair Display', serif;
}
/*header start*/
.header{}
.wrapper{
	width:90%;
	margin: 0 auto;
	padding:50px 0;
	overflow: hidden;
}
.logo{
	float: left;
    width: 11%;
}
.logo img{
	width: 100%;
}
.menu{
	width: 63%;
    float: right;
}
.menu ul{
	padding-top:5px;
}
.menu ul li{
	list-style: none;
}
.menu ul li a {
	font-size:14px;
	color:#626262;
	text-transform: uppercase;
    text-decoration: none;
    float: left;
    padding: 0 109px;
    transition: 0.5s
}
.menu ul li a:last-child {
	padding-right:0;
}
.menu ul li a:hover{
	color:#b4ad9e;
}
/*header end*/
/*banner start*/
.banner{}
.bannerimage{
	width:100%;
}
.bannerimage img{
	width:100%;
}
/*article start*/
.article{}
.wrapper2{
	width:80%;
	margin: 0 auto;
	overflow: hidden;
}
.articlecontent{
	color:#626262;
	font-size:25px;
}
.h1{
	color:#626262;
	font-size:30px;
	font-family: 'playfair Display', serif;
}
.gold{
	font-family: 'Ubuntu', sans-serif;
	color:#b4ad9e;
	font-size:15px;
	margin-top:25px;
}
.gold a{
	text-decoration: none;
	transition: 0.2s;
	color:#b4ad9e;
}
.gold a:hover{
	color:#626262;
}
.articlecontent1{
	font-weight:300;
	font-size:18px;
	margin-bottom:45px;
	color:#626262;
	line-height: 25px;
	word-spacing: 1px
}
/*article end*/
/*blog1 start*/
.blog1{}
.singlewrapper{
	overflow: hidden; 
}
.single{
	width:47%;
	float:left;
	margin:80px 0px;
	/*background-color:red;*/
}
.single:nth-child(even){
	margin-left: 6%;
}
.single img{
	width:100%;
}
/*blog1 end*/
/*newsletter start*/
.newsletter{
	background-color: #F0F0F0;
	margin:50px 0px;
	padding: 50px 0px;
}
.newsletterwrapper{
	width:40%;
	margin :auto auto;
	
}
.newsletterwrapper h1{
	    margin-bottom: 25px;
	    font-family: 'playfair Display' serif;
	    padding-left:15px;
}
.newsletterwrapper input{
	width:90%;
	margin:40px 10px;
	border:0px;
	border-bottom: 0.5px solid black;
	height:40px;
}

/*newsletter end*/
/*blog2 start*/
/*blog2 end*/
/*button start*/
.button{}
.buttonwrapper{
	width:18%;
	 margin: 0 auto;
	 margin-bottom:180px;
}
.buttonwrapper input{
	    width: 100%;
    height: 60px;
    background-color: white;;
    border: 0.5px solid #626262;
    font-family: 'playfair display', serif;
    font-size: 20px;
    transition: 0.5s;
}
.buttonwrapper input:hover{
	background-color: #e1dbce
}

/*button end*/
/*footer start*/
.footer{
	background-color:#F0F0F0;
}
.footer_wrapper{
	margin-top:50px;
	margin-bottom:100px;
}
.footer .pages{
	width:65%;
	float:left;
}
.footer .pages p{
	width:25%;
	float:left;
	margin:0;
}
.footer .pages p a{
	text-decoration: none;
	transition: 0.2s;
	color:black;
}
.footer .icons{
	width:20%;
	float:right;
}
.footer .icons p{
	width:28%;
	float:left;
	margin:0;
}
.footer .icons img{
	width:12%;
	float:left;
	padding:0 12px;

}






/*footer end*/





